* {
	-webkit-text-size-adjust: none !important;
}

scroll-outer {
	display: block;
	overflow-y: scroll;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: stretch;
	width: 700px;
	border: 10px solid black;
	background: black;
}

textarea-container {
	display: block;
	position: relative;
	background: black;
	contain: content;
}
textarea-container > * {
	all: initial;
	
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	overflow: clip;
	width: 100%;
	
	white-space: pre-wrap;
	word-break: break-word;
	line-break: anywhere;
	
	font-family: Cascadia Mono, Cascadia Code, Fira Code, consolas, monospace, monospace;
	font-size: 1rem;
	line-height: 1.25rem;
	font-kerning: none;
	font-variant-ligatures: none;
	tab-size: 3; -moz-tab-size: 3;
	-webkit-text-size-adjust: none;
}
textarea-container > textarea {
	height: 100%;
	resize: none;
}
textarea-container > .textarea {
	position: absolute;
	top: 0;
	z-index: 1;
	overflow: hidden;
	
	background: transparent;
	color: transparent;
	caret-color: white;
	contain: strict;
}
textarea-overlay {
	pointer-events: none;
	background: black;
	color: white;
	will-change: contents;
	contain: content;
}
/* necessary to avoid hiding last linebreak */
textarea-overlay::after {
	content: "\A";
}
.name { color: cyan; }
.comment { color: #0C0; }
.commenttext { color: lime; }
.tag { color: #0AF; }
.doctype { color: silver; }
.charref { color: magenta; }
.key { color: orange; }
.value { color: fuchsia; }
.script { color: silver; }
.rawtext { color: silver; }

.prefix {color: lime;}
.new {text-decoration: underline;}
.suffix {color: blue;}

span.word {
	color: #DEF;
}
span.comment {
	color: #a1f198;
	font-style: italic;
}
span.string { color: #9C9; }
span.operator { color: #BB7; }
span.keyword { color: #2494f0; }
span.constant { color: #f359ab; }
span.property { color: #D9B; }
span.flow { color: #2494f0; }
span.semicolon { color: #CF0; }
span.assignment { color: goldenrod; }
