* {
	-webkit-text-size-adjust: none !important;
}

textarea-container {
	display: block;
	overflow-y: scroll;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: stretch;
	width: 700px;
	border: 10px solid black;
	background: black;
}
textarea-container:focus-within {
	outline-style: auto;
}
textarea-container > div {
	display: block;
	position: relative;
	background: black;
	contain: content;
}
textarea-container > div > * {
	all: initial;
	
	display: block;
	overflow: hidden;	overflow: clip;
	width: 100%;
	
	white-space: pre-wrap;
	word-break: break-word;
	line-break: anywhere;
	
	font-family: Cascadia Mono, Cascadia Code, Fira Code, consolas, monospace, monospace;
	font-size: 1rem;
	line-height: 1.25rem;
	font-kerning: none;
	font-variant-ligatures: none;
	tab-size: 3; -moz-tab-size: 3;
}
textarea-container > div > textarea {
	position: absolute;
	top: 0;
	z-index: 1;
	resize: none;
	height: 100%;
	overflow: hidden;
	
	background: transparent;
	color: transparent;
	caret-color: white;
	contain: strict;
}
textarea-container > div > pre {
	pointer-events: none;
	background: black;
	color: white;
	will-change: contents;
	contain: content;
	position: relative;
}
/* necessary to avoid hiding last linebreak */
textarea-container > div > pre::after {
	content: "\A";
}

textarea-container span.name { color: cyan; }
textarea-container span.comment { color: #0C0; }
textarea-container span.commenttext { color: lime; }
textarea-container span.tag { color: #0AF; }
textarea-container span.doctype { color: silver; }
textarea-container span.charref { color: magenta; }
textarea-container span.key { color: orange; }
textarea-container span.value { color: fuchsia; }
textarea-container span.script { color: silver; }
textarea-container span.rawtext { color: silver; }
textarea-container span.word {color: #DEF;}
textarea-container span.comment {color: #a1f198;}
textarea-container span.string { color: #9C9; }
textarea-container span.operator { color: #BB7; }
textarea-container span.keyword { color: #2494f0; }
textarea-container span.constant { color: #f359ab; }
textarea-container span.property { color: #D9B; }
textarea-container span.flow { color: #2494f0; }
textarea-container span.semicolon { color: #CF0; }
textarea-container span.assignment { color: goldenrod; }
